
/* nav bar */
header ul:hover .nav-items , header ul:focus .nav-items{
    display: flex;  
}
.cross:hover~.nav-items,.cross:focus~.nav-items {
display: none !important;
}
.cross{
    display: none;
}
ul:hover .cross{
display: inline;

}

/* Animation in skills */
.htmlProgress, .cssProgress, .tailwindProgress, .bootstrapProgress{
    animation-timing-function: ease;
    animation-delay: 6s;
    animation-iteration-count:2 ;
    animation-duration: 5s;   
}
.htmlProgress{
    animation-name: html-progress ;  
}
@keyframes html-progress{
    0%{
        width: 9%;
    }
    100%{
        width: 83.333333%;
    }
}
.cssProgress{
    animation-name: css-progress ;  
}
@keyframes css-progress{
    0%{
        width: 7%;
    }
    100%{
        width: 75%;
    }
}
.tailwindProgress{
    animation-name: tailwind-progress ;  
}
@keyframes tailwind-progress{
    0%{
        width: 4%;
    }
    100%{
        width: 66.666667%
    }
}
.bootstrapProgress{
    animation-name: bootstrap-progress ;  
}
@keyframes bootstrap-progress{
    0%{
        width: 4%;
    }
    100%{
        width: 50%;}
    }