
/* Animation in skills */
.progress{
    animation-timing-function: ease;
    animation-delay: 8s;
    animation-iteration-count:3;
    animation-duration: 5s;   
    animation-name: progress ;  
}

@keyframes progress{
    from{
        width: 0%;
    
    }
}
